/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f7eee7;
  font-family: "DM Sans", serif;
  display: grid;
  grid-template-rows: 11em 3fr;
  grid-template-areas:
    "header"
    "main";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* header */
header {
  background-color: #f7f7f7;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  padding: 2em;
}

header > h1 {
  font-weight: 900;
  font-size: 3rem;
}

.add-button-container > p {
  font-size: 1.65rem;
  color: #0057ac;
  font-weight: 500;
}

.add-button-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.addBtn {
  font-size: 1.8rem;
  padding: 0.1em 0.8em;
  background-color: #f7f7f7;
  border: 3px solid #000000;
}

.addBtn:hover {
  background-color: #2db062;
  color: #f7f7f7;
}

main {
  grid-area: main;
  padding: 3em;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 17em);
  gap: 4em;
}

dialog {
  width: 17em;
  padding: 1em;
  margin: auto;
  text-align: center;
}

.card-book {
  padding: 2em;
  text-align: center;
  background-color: #f7f7f7;
  border: 3px solid #000000;
  border-radius: 0.5em;
}

.card-book > p {
  line-height: 3em;
  font-size: 1.2rem;
  font-weight: 400;
}

.card-btn {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0.5em 1em;
  border-radius: 4px;
}

.read-status,
input[type="submit"] {
  background-color: #2db062;
  color: #f7f7f7;
  border: none;
}

.read-status:hover,
input[type="submit"]:hover {
  background-color: #4bc77c;
}

.remove-btn {
  background-color: #a31d1d;
  color: #f7f7f7;
  border: none;
}

.remove-btn:hover {
  background-color: #ca5e5e;
}

/* modal form */
input {
  margin: 0.7em 0;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-left: 10px;
}

label[for="read_status"] {
  margin-bottom: 10px;
}

/*   Open state of the dialog  */
dialog[open] {
  opacity: 1;
  transform: scaleY(1);
}

dialog {
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete, display 0.7s ease-out allow-discrete;
}

@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scaleY(0);
  }
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition: display 0.7s allow-discrete, overlay 0.7s allow-discrete,
    background-color 0.7s;
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 25%);
}

input[type="submit"] {
  padding: 0.6em 1em;
}
